################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/HospitalDBMS/FileContentIndex
/.vscode/launch.json
/.vs/HospitalDBMS/v17/.wsuo
.vs/HospitalDBMS/v17/DocumentLayout.backup.json
.vs/HospitalDBMS/v17/DocumentLayout.json
.vs/HospitalDBMS/v17/DocumentLayout.json
